@import "tailwindcss" source(none);
@import "../src/library.css";

@source "../src";
@source ".";

html,
.docs-story {
	background-color: var(--nui-background);
}

/*noinspection CssMissingComma*/
.sbdocs-content
	:is(h1, h2, h3, h4, h5, h6)
	> a[aria-hidden="true"][tabindex="-1"] {
	float: left;
	padding-right: 10px;
	margin-left: -24px;
	line-height: inherit;
	color: inherit;
	text-decoration: none;
}
