@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-nui-background: var(--nui-background);
	--color-nui-foreground: var(--nui-foreground);

	--color-nui-card: var(--nui-card);
	--color-nui-card-foreground: var(--nui-card-foreground);

	--color-nui-popover: var(--nui-popover);
	--color-nui-popover-foreground: var(--nui-popover-foreground);

	--color-nui-primary: var(--nui-primary);
	--color-nui-primary-foreground: var(--nui-primary-foreground);

	--color-nui-secondary: var(--nui-secondary);
	--color-nui-secondary-foreground: var(--nui-secondary-foreground);

	--color-nui-muted: var(--nui-muted);
	--color-nui-muted-foreground: var(--nui-muted-foreground);

	--color-nui-accent: var(--nui-accent);
	--color-nui-accent-foreground: var(--nui-accent-foreground);

	--color-nui-destructive: var(--nui-destructive);
	--color-nui-border: var(--nui-border);
	--color-nui-input: var(--nui-input);
	--color-nui-ring: var(--nui-ring);

	--color-nui-chart-1: var(--nui-chart-1);
	--color-nui-chart-2: var(--nui-chart-2);
	--color-nui-chart-3: var(--nui-chart-3);
	--color-nui-chart-4: var(--nui-chart-4);
	--color-nui-chart-5: var(--nui-chart-5);

	--color-nui-sidebar: var(--nui-sidebar);
	--color-nui-sidebar-foreground: var(--nui-sidebar-foreground);
	--color-nui-sidebar-primary: var(--nui-sidebar-primary);
	--color-nui-sidebar-primary-foreground: var(--nui-sidebar-primary-foreground);
	--color-nui-sidebar-accent: var(--nui-sidebar-accent);
	--color-nui-sidebar-accent-foreground: var(--nui-sidebar-accent-foreground);
	--color-nui-sidebar-border: var(--nui-sidebar-border);
	--color-nui-sidebar-ring: var(--nui-sidebar-ring);

	--radius-nui-sm: calc(var(--nui-radius) * 0.6);
	--radius-nui-md: calc(var(--nui-radius) * 0.8);
	--radius-nui-lg: var(--nui-radius);
	--radius-nui-xl: calc(var(--nui-radius) * 1.4);
	--radius-nui-2xl: calc(var(--nui-radius) * 1.8);
	--radius-nui-3xl: calc(var(--nui-radius) * 2.2);
	--radius-nui-4xl: calc(var(--nui-radius) * 2.6);

	--spacing-nui-2xs: var(--nui-spacing-2xs);
	--spacing-nui-xs: var(--nui-spacing-xs);
	--spacing-nui-sm: var(--nui-spacing-sm);
	--spacing-nui-md: var(--nui-spacing-md);
	--spacing-nui-lg: var(--nui-spacing-lg);
	--spacing-nui-xl: var(--nui-spacing-xl);
	--spacing-nui-2xl: var(--nui-spacing-2xl);
}
